h2 {
    color: blue;
}

.boxmodel {
    border: 5px solid red;
    display: inline-block;
    padding: 5px 20px;
    margin: 0px 20px;
    width: 33px;
    height: 55p;
}
p {
    /* font-size: 20px; */
    font-size: 5rem;
}
span {
    font-size: 2em;
}